h1{
    font-family: 'Rajdhani', sans-serif;
    text-align: center;
    background-color: aquamarine;
    border-radius: 20px;
    padding: 10px;
    text-shadow: 1px 1px 25px rgb(0, 0, 0);
    color: rgb(255, 55, 0);
    border: 5px solid rgb(146, 83, 209);
    box-shadow: 0px 0px 12px #ffffff;
}
.header{
    display: flex;
    justify-content: center;
}
body{
    background-image: url("https://img.freepik.com/free-photo/background-made-from-bricks_23-2148742475.jpg?w=900&t=st=1687796009~exp=1687796609~hmac=c32bd99cca904867581104aef65b128645bcd878240d04e43476053594965955");
}
.search-block{
    background-color: rgb(115, 45, 184);
    height: 500px;
    width: 90%;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    /* position: absolute; */
}
p{
    text-align: left;
    font-size: 20px;
    padding-left: 40px;
    color: white;
    font-family: 'Rajdhani', sans-serif;
}
.result-block{
    background-color: rgb(115, 45, 184);
    height: 740px;
    width: 90%;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    /* position: absolute; */
}
.temp{
    display: flex;
    flex-direction: column;
    gap: 70px;
}
#submit{
    margin-top: 5px;
    border-radius: 8px;
    block-size: 25px;
}
#copy{
  margin-top: 5px;
  border-radius: 8px;
  block-size: 25px;
}
footer{
  color: white;
  font-size: 20px;
  text-align: center;
  padding-top: 15px;
}
textarea{
  resize: none;
  width: 90%;
  border-radius: 5px;
  margin-bottom: 5px;
}
#input{
  height: 68%;
}
#output{
  height: 78%;
}
